div#column2.interior
      div#intro.interior
            a(href="#", title="Go back to the home page") Node.js
      ul
            li
                  a.nav-documentation(href="documentation") About these Docs
            li
                  a.nav-synopsis(href="synopsis") Usage &amp; Example
      div.line
      ul
            li
                  a.nav-assert(href="assert") Assertion Testing
            li
                  a.nav-buffer(href="buffer") Buffer
            li
                  a.nav-addons(href="addons") C/C++ Addons
            li
                  a.nav-child_process(href="child_process") Child Processes
            li
                  a.nav-cluster(href="cluster") Cluster
            li
                  a.nav-cli(href="cli") Command Line Options
            li
                  a.nav-console(href="console") Console
            li
                  a.nav-crypto(href="crypto") Crypto
            li
                  a.nav-debugger(href="debugger") Debugger
            li
                  a.nav-dns(href="dns") DNS
            li
                  a.nav-domain(href="domain") Domain
            li
                  a.nav-errors(href="errors") Errors
            li
                  a.nav-events(href="events") Events
            li
                  a.nav-fs(href="fs") File System
            li
                  a.nav-globals(href="globals") Globals
            li
                  a.nav-http(href="http") HTTP
            li
                  a.nav-https(href="https") HTTPS
            li
                  a.nav-modules(href="modules") Modules
            li
                  a.nav-net(href="net") Net
            li
                  a.nav-os(href="os") OS
            li
                  a.nav-path(href="path") Path
            li
                  a.nav-process(href="process") Process
            li
                  a.nav-punycode(href="punycode") Punycode
            li
                  a.nav-querystring(href="querystring") Query Strings
            li
                  a.nav-readline(href="readline") Readline
            li
                  a.nav-repl(href="repl") REPL
            li
                  a.nav-stream(href="stream") Stream
            li
                  a.nav-string_decoder(href="string_decoder") String Decoder
            li
                  a.nav-timers(href="timers") Timers
            li
                  a.nav-tls(href="tls") TLS/SSL
            li
                  a.nav-tty(href="tty") TTY
            li
                  a.nav-dgram(href="dgram") UDP/Datagram
            li
                  a.nav-url(href="url") URL
            li
                  a.nav-util(href="util") Utilities
            li
                  a.nav-v8(href="v8") V8
            li
                  a.nav-vm(href="vm") VM
            li
                  a.nav-zlib(href="zlib") ZLIB
      div.line
      ul
            li
                  a.nav-https-github-com-nodejs-node(href="https://github.com/nodejs/node") GitHub Repo &amp; Issue Tracker
            li
                  a.nav-http-groups-google-com-group-nodejs(href="http://groups.google.com/group/nodejs") Mailing List